//Helper mixins:
@mixin show-me($color) {
  border: 1px solid $color;
  background-color: lighten($color, 40%);
}

//Links:
@mixin linkify() {
  color: darken($white, 5%);
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}

//Image Banners:
@mixin bg-img($url) {
  background-image:url($url);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}
