// Color Palette:
$blue-gray  : #7B7D8D;
$gray       : #90949E;
$peach      : #E7C8C0;
$dusty-rose : #D6C3C0;
$white      : #E9E7E6;

// Font Stacks:
$serif      : "Quattrocento", serif;
$sans-serif : Helvetica, Arial, sans-serif;

//Image Paths:
$hero-img   : "../img/jandacamping.jpg";
$flower     : "../img/gorgeflower.jpg";
