//Bourbon and Neat:
@import "../bourbon/bourbon";
@import "../neat/neat";

//Imports
@import "variables";
@import "mixins";

body {
  background-color: $white;
  font-family:$serif;
  margin:0;
}

// HEADER STYLES:
nav {
  background-color:$blue-gray;
  border-top:1px solid darken($blue-gray, 20%);
  border-bottom:1px solid darken($blue-gray, 20%);
  box-shadow:0 0 20px black;

  .links {
    height: 4.6em;
    line-height:4.5em;
    font-family:$sans-serif;
    text-align:center;

    a {
      @include linkify;
      display:inline-block;
      height:100%;
      padding-right:2em;
      padding-left:2em;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color:lighten($blue-gray, 10%);
      }
    }
  }
}

// BANNER:
.hero {
  @include outer-container(100%);
  @include bg-img($hero-img);
  height:800px;
  position:relative;
  z-index:-1;

  .hero-content {
    @include span-columns(4);
    @include shift(6);
    background-color:$blue-gray;
    border:1px solid darken($blue-gray, 20%);
    position:absolute;
    top:15%;
    box-shadow:0 0 20px black;
    height:50%;
    color:$white;

  }
}

//BODY CONTENT:
.story-container {
  @include show-me(yellow);
  @include outer-container(60%);
  padding-top:2em;
  padding-bottom:2em;

  h3 {
    font-size:48px;
  }

  .josh {
    @include show-me(blue);
    @include span-columns(5);
    text-align:right;
    // padding-right:1em;
  }

  .allie {
    @include show-me(red);
    @include span-columns(5);
    @include omega();
    // padding-left:1em;
  }

  .small-graphic {
    @include show-me(green);
    @include span-columns(2);
    height:100px;
    margin-top:20px;
  }

  h4 {
    @include span-columns(4);
    @include shift(4);
    text-align:center;
    font-size: 36px;
    margin-top:0.5em;
    margin-bottom:0.5em;
  }

  p {
    font-family:$sans-serif;
    @include span-columns(6);
  }
}
